{:kotoba.app/id "cloud.itonami.isic-6311-chainexplorer", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifevsiy2nbebqebb23dgk6laeg4lglxvc2dd5q2jw3qgaxmjpylfy", :kotoba.app/embed-url "ipfs://bafkreifevsiy2nbebqebb23dgk6laeg4lglxvc2dd5q2jw3qgaxmjpylfy", :published {:archive "https://kotobase.net/ipfs/bafkreifevsiy2nbebqebb23dgk6laeg4lglxvc2dd5q2jw3qgaxmjpylfy", :size 83068, :put-status 201, :get-status 200, :at "2026-08-15T13:45:17.747Z"}}
